<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>{{> nav}} 
    {{{body}}}

    <!-- JavaScript -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <footer class="footer">
  <div class="container">
    <p>&copy; 2024 Tech Blog. All rights reserved.</p>
   <div class="social-links">
  <a href="https://twitter.com/yourusername" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://github.com/yourusername" target="_blank"><i class="fab fa-github"></i></a>
  <a href="https://linkedin.com/in/yourusername" target="_blank"><i class="fab fa-linkedin-in"></i></a>
</div>

    <p>About Tech Blog: A place to share and grow your tech knowledge.</p>
  </div>
</footer>

</body>
</html>
