<h2>Dashboard</h2>
{{#if posts}}
    {{#each posts}}
        <div class="post">
            <h3>{{this.title}}</h3>
            <p>{{this.content}}</p>
            <!-- Add Edit and Delete buttons here -->
        </div>
    {{/each}}
{{else}}
    <p>You have no posts yet.</p>
{{/if}}
<a href="/posts/new">Create New Post</a>
